<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 2</ion-title>
      </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 2 page"></app-explore-container>
    <ion-item *ngFor="let item of groceryItems; let i = index">
      {{ item }}
      <ion-buttons slot="end">
        <ion-button (click)="editItem(i)" color="secondary">Edit</ion-button>
        <ion-button (click)="confirmDelete(i)" color="danger">Remove</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
